<div class="jumbotron jumbotron-fluid" id="header-jumbo">
  <div class="container text-center" id="header-img">
    <h1 class="display-4">VICTORIA LEAGUE</h1>
    <h4>Full-stack web developer with a passion for making things both beautiful and highly functional.</h4>
  </div>
</div>

<div class="container" id="index-container">

    {{!-- PROJECT SECTION --}}
    <div class="row justify-content-center mt-5" id="projects">
        <div class="col-sm-12 text-center">
            <h2>Projects</h2>
    
            <div class="row justify-content-center mt-4">
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-4 text-center">
                            <a href="https://placeholder.com"><img src="http://via.placeholder.com/300x150"></a>
                            <br>
                            <button type="button" class="project-title mt-3 mb-5 btn">Integrated Writing</button>
                        </div>
                        <div class="col-sm-4 text-center">
                            <a href="https://placeholder.com"><img src="http://via.placeholder.com/300x150"></a>
                            <br>
                            <button type="button" class="project-title mt-3 mb-5 btn">Lil Libs</button>
                        </div>
                        <div class="col-sm-4 text-center">
                            <a href="https://placeholder.com"><img src="http://via.placeholder.com/300x150"></a>
                            <br>
                            <button type="button"c+lass="project-title mt-3 mb-5 btn">Pet Finder</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 text-center">
                            <a href="https://placeholder.com"><img src="http://via.placeholder.com/300x150"></a>
                            <br>
                            <button type="button" class="project-title mt-3 mb-5 btn">Project Move</button>
                        </div>
                        <div class="col-sm-4 text-center">
                            <a href="https://placeholder.com"><img src="http://via.placeholder.com/300x150"></a>
                            <br>
                            <button type="button" class="project-title mt-3 mb-5 btn">Project 5?????</button>
                        </div>
                        <div class="col-sm-4 text-center">
                            <a href="https://placeholder.com"><img src="http://via.placeholder.com/300x150"></a>
                            <br>
                            <button type="button" class="project-title mt-3 mb-5 btn">Pusheen Suite</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- SKILLS SECTION --}}
    <div class="row justify-content-center pt-5 mt-4 pb-5" id="skills">
        <div class="col-sm-6 text-center">
            <h2 class="mb-5">Technologies and Skills</h2>
        
            <div class="row">
                <div class="col-sm-3 text-center mb-3">
                    <i class="fab fa-html5 fa-7x tech-icon"></i>
                </div>

                <div class="col-sm-3 text-center mb-3">
                    <i class="fab fa-css3-alt fa-7x tech-icon"></i>
                </div>

                <div class="col-sm-3 text-center mb-3">
                    <i class="fab fa-js fa-7x tech-icon"></i>
                </div>

                <div class="col-sm-3 text-center mb-3">
                    <i class="fab fa-node fa-7x tech-icon"></i>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 text-center mb-3">
                    <i class="fab fa-react fa-7x tech-icon"></i>
                </div>

                <div class="col-sm-3 text-center mb-3">
                    <i class="fab fa-php fa-7x tech-icon"></i>
                </div>

                <div class="col-sm-3 text-center mb-3">
                    <img src="/img/photoshop icon.png">
                </div>

                <div class="col-sm-3 text-center mb-3">
                    <img src="/img/indesign icon.png">
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center pt-5 mt-4 pb-5" id="work">
        <div class="col-sm-12">
            <h1>test</h1>
        </div>
    </div>

</div>