<div class="jumbotron jumbotron-fluid" id="header-jumbo">
  <div class="container text-center" id="header-img">
    <h1 class="display-4 name">VICTORIA LEAGUE</h1>
    <h4 class="sub-header">Full-stack web developer with a passion for making things both beautiful and highly functional.</h4>
  </div>
</div>

<div class="container" id="index-container">

    {{!-- PROJECT SECTION --}}
    <div class="row justify-content-center mt-5" id="projects">
        <div class="col-sm-10 text-center">
            <h2>Projects</h2>
    
            <div class="row justify-content-center mt-5">
                <div class="col-sm-10">
                    <div class="row justify-content-center">
                        <div class="col-sm-6 text-center">
                            <div class="card">
                                <a href="/project/novelize"><img class="card-img-top" src="img/editor.png"></a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        NOVELIZE
                                    </h4>
                                    <p class="card-text">
                                        Novelize is a full-stack application that gives novelists an integrated writing environment. It runs on React, Node, Express, and MySQL.
                                    </p>
                                    <a href="/project/novelize" class="project-title mb-2 btn">See More</a>
                                </div>
                            </div>       
                        </div>

                        <div class="col-sm-6 text-center">
                            <div class="card">
                                <a href="/project/lillibs"><img class="card-img-top" src="img/lillibs.png"></a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        LIL LIBS
                                    </h4>
                                    <p class="card-text">
                                        Lil Libs is a full-stack game inspired by MadLibs and focused on popculture stories. It runs on Handlebars, Node, Express, and MySQL.
                                    </p>
                                    <a href="/project/lillibs" class="project-title mb-2 btn">See More</a>
                                </div>
                            </div>       
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-sm-6 text-center">
                            <div class="card">
                                <a href="/project/petfinder"><img class="card-img-top" src="img/petfinder.png"></a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        PET FINDER
                                    </h4>
                                    <p class="card-text">
                                        Pet Finder is a full-stack application that helps Orlando pet seekers find a pet that fits their lifestyle. Pet Finder uses Handlebars, Node, and Express.
                                    </p>
                                    <a href="/project/petfinder" class="project-title mb-2 btn">See More</a>
                                </div>
                            </div>       
                        </div>

                        <div class="col-sm-6 text-center">
                            <div class="card">
                                <a href="/project/projectmove"><img class="card-img-top" src="img/projectmove.png"></a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        PROJECT MOVE
                                    </h4>
                                    <p class="card-text">
                                        Project Move is a front-end application that takes uses multiple APIs to suggest outdoor activities to the user based on their city. Project Move uses Javascript and Materialize.
                                    </p>
                                    <a href="/project/projectmove" class="project-title mb-2 btn">See More</a>
                                </div>
                            </div>       
                        </div>
                    </div>

                    <div class="row mt-5 justify-content-center mb-4">
                        <div class="col-sm-6 text-center">
                            <div class="card">
                                <a href="/project/pusheensuite"><img class="card-img-top" src="img/pusheen.png"></a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        THE PUSHEEN SUITE
                                    </h4>
                                    <p class="card-text">
                                        The Pusheen Suite is a collection of small applications themed around the famous Pusheen cat plushie. It comprises of multiple games, some front-end only and some full-stack.
                                    </p>
                                    <a href="/project/pusheensuite" class="project-title mb-2 btn">See More</a>
                                </div>
                            </div>       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- SKILLS SECTION --}}
    <div class="row justify-content-center pt-5 mt-4 pb-5" id="skills">
        <div class="col-sm-7 text-center">
            <h2 class="mb-5">Technologies and Skills</h2>
        
            <div class="row">
                <div class="col-sm-3 text-center mb-3">
                    <i class="fab fa-js fa-7x tech-icon"></i>
                    
                </div>

                <div class="col-sm-3 text-center mb-3">
                    <i class="fab fa-react fa-7x tech-icon"></i>
                    
                </div>

                <div class="col-sm-3 text-center mb-3">
                    <i class="fab fa-node fa-7x tech-icon"></i>
                </div>

                <div class="col-sm-3 text-center mb-3">
                    <img src="/img/mysql icon.png">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 text-center mb-3">
                    <i class="fab fa-html5 fa-7x tech-icon"></i>
                </div>

                <div class="col-sm-3 text-center mb-3">
                    <i class="fab fa-css3-alt fa-7x tech-icon"></i>
                </div>

                <div class="col-sm-3 text-center mb-3">
                    <img src="/img/photoshop icon.png">
                </div>

                <div class="col-sm-3 text-center mb-3">
                    <img src="/img/indesign icon.png">
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center pt-5 mt-4 pb-5" id="work">
        <div class="col-sm-12">
            <h1>test</h1>
        </div>
    </div>

</div>