<div class="jumbotron jumbotron-fluid project-jumbo">
    <h1 class="text-center pb-5 project-head">Novelize</h1>
</div>

<div class="container" id="portfolio-container">
    <img src="/img/editor.png" style="width: 100%">

    <p class="project-text text-center">
        Novelize is a full-stack application created for writers in the process of drafting a novel. It was created to solve the problem of juggling multiple documents containing prose, character profiles, plot outlines, research notes, and worldbuilding systems. Novelize is a free, easy-to-use program with a clean and modern UI.
        <br><br>
        Novelize uses the following technologies:
        <ul>
            <li>React.js as our front-end library</li>
            <li>Node.js as our server-side language</li>
            <li>Express.js to handle routing and server setup</li>
            <li>MySQL (using JawsDB as an online host) to store the user's data</li>
            <li>Passport to handle user authentication and sessions</li>
            <li>Heroku to deploy the project</li>
        </ul>
    </p>

THE PUSHEEN SUITE
The Pusheen Suite is a collection of small applications themed around the famous Pusheen cat plushie. It comprises of multiple games, some front-end only and some full-stack.


</div>