<div class="jumbotron jumbotron-fluid project-jumbo">
    <h1 class="text-center pb-5 project-head">NOVELIZE</h1>
</div>

<div class="container" id="portfolio-container">
    <img src="/img/editor.png" style="width: 100%">

    <div class="row">
        <div class="col-md-12">
            <h4 class="project-heading">PROJECT OVERVIEW</h4>
            <p class="project-text text-center mt-4">
            Novelize is a full-stack application created for writers in the process of drafting a novel. It was created to solve the problem of juggling multiple documents containing prose, character profiles, plot outlines, research notes, and worldbuilding systems. Novelize pulls this data into an integrated drafting environment in which the user can write the prose of their story with access to sidebars containing the references they'll need during the writing process. ***** utilizes data validation, ajax calls, etc.
            <br><br>
            Other drafting software are costly, outdated, and overcomplicated. Novelize is a free, easy-to-use application with a clean and modern UI. It's focused solely on the act of writing the novel so that user can flow through the process seamlessly. 
            </p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-4 text-center">
            <button class="btn btn-secondary">Live Site</button>
        </div>
        <div class="col-md-4 text-center">
            <button class="btn btn-secondary">Code Repo</button>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <h4 class="project-heading">Tech Stack</h4>
                <ul>
                    <li>What I used, why, what each does. ***** React.js as our front-end library</li>
                    <li>Node.js as our server-side language</li>
                    <li>Express.js to handle routing and server setup</li>
                    <li>MySQL (using JawsDB as an online host) to store the user's data</li>
                    <li>Passport to handle user authentication and sessions</li>
                    <li>Heroku to deploy the project</li>
                </ul>
        </div>

        <div class="col-md-6">
            <h4 class="project-heading">Project Timeline</h4>
            <ul>
                <li>conception, stages, etc</li>
            </ul>
        </div>

    </div>

    <div class="row">

        <div class="col-md-6">
            <h4 class="project-heading">Major Challenges and Solutions</h4>
            <ul>
                <li>to discuss what challenges I faced and how I solved them</li>
            </ul>
        </div>

        <div class="col-md-6">
            <h4 class="project-heading">Future Goals</h4>
            <ul>
                <li>future development of the project and why</li>
            </ul>
        </div>
    </div>
        
{{!-- THE PUSHEEN SUITE --}}
{{!-- The Pusheen Suite is a collection of small applications themed around the famous Pusheen cat plushie. It comprises of multiple games, some front-end only and some full-stack. --}}


</div>