.navbar {
    background-color: #5da7a1;
    box-shadow: 0px 1px 10px rgb(46, 46, 46);
}

.name {
    font-family: 'Poppins', sans-serif;
}

.sub-header, .nav-item {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-family: 'Poppins', sans-serif;
}

#header-img {
    padding-top: 160px;
    padding-bottom: 120px;
    background-image: url("/img/background.jpg");
    width: 100%;
    max-width: 100%;
}

#header-jumbo {
    padding: 0px;
}

.project-title {
    background-color: #a79a76;
    color: white;
    font-family: 'Roboto', sans-serif;
}

#index-container {
   max-width: 100%;
   padding: 0px;
   position: relative;
}

#skills {
    background-color: #f3efe5;
    /* rgb(230, 230, 230); */
}

.card-title, .card-text {
    font-family: 'Roboto', sans-serif;
}

a:hover, a:focus, a:active {
    color: white;
}
