.navbar {
    background-color: #5da7a1;
    box-shadow: 0px 1px 10px rgb(46, 46, 46);
}

#body {
    position: relative;
    width: 100%
}

.row {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
}

.name {
    font-family: 'Poppins', sans-serif;
}

.sub-header, .nav-items, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

h2, .project-head {
    font-family: 'Poppins', sans-serif;
}

#header-img {
    padding-top: 160px;
    padding-bottom: 120px;
    background-image: url("/img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 100%;
}

#header-jumbo {
    padding: 0px;
}

.project-title {
    background-color: #a79a76;
    color: white;
    font-family: 'Roboto', sans-serif;
}

#index-container {
   max-width: 100%;
   padding: 0px;
   position: relative;
}

#skills, #contact {
    background-color: #f3efe5;
}

.card-title, .card-text {
    font-family: 'Roboto', sans-serif;
}

a:hover, a:focus, a:active {
    color: white;
}

.tech-icon {
    width: 100%;
}

/* transition for the hover effect */
.card {
    height: 100%;
    box-shadow: none;
    transition: all 0.3s ease-in-out;
}

/* shadow and size change when you hover */
.card:hover {
    box-shadow: 0px 0px 15px rgba(236, 236, 236, 0.603);
    transform: scale(1.02, 1.02);
}

/* make arrows for timeline items on the left cards */
.card-left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 62px;
    width: 0;
    z-index: 1;
    right: -10px;
    border: medium solid lightgray;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent lightgray;
}

/* make arrows for timeline cards on the right cards */
.card-right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 62px;
    width: 0;
    z-index: 1;
    left: -10px;
    border: medium solid lightgray;
    border-width: 10px 10px 10px 0;
    border-color: transparent lightgray transparent transparent;
}

/* fixing padding and margin for scrollspy to hit the right target on jump */
#projects, #skills, #work, #contact {
    padding-top: 80px;
    margin-top: -60px;
    margin-bottom: 80px;
}

.skill-txt {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}


/************* timeline css */
.left-time-col {
    border-right: 6px solid #5da7a1;
    position: relative;
    padding-top: 30px;
}

.right-time-col {
    position: relative;
    padding-top: 30px;
}

.circle-l {
    height: 25px;
    width: 25px;
    background-color: #5da7a1;
    border-radius: 50%;
    position: absolute;
    right: -15px;
    top: 90px;
}

.circle-r {
    height: 25px;
    width: 25px;
    background-color: #5da7a1;
    border-radius: 50%;
    position: absolute;
    left: -15px;
    top: 90px;
}

/* ******************** */


#portfolio-container {
    padding-top: 50px
}

.project-jumbo {
    background-color: #f3efe5;
    padding-top: 160px;
}

.project-text {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    width: 80%;
    margin: auto;
}

.project-heading {
    padding-top: 60px;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    text-align: center;
}

.btn:active, .btn:focus {
    box-shadow: none;
}

#err-text {
    margin-top: 200px;
    text-align: center;
}


@media only screen and (max-width: 767px) {
    .timeline-card {
        margin: auto !important;
    }

    .right-time-col {
        margin-left: 15px;
        margin-right: 15px;
    }

    .left-time-col {
        border-right: 0px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .circle-l {
        display: none;
    }

    .circle-r {
        display: none;
    }

    .placehold-col {
        display: none;
    }
    
    .contact-head, .contact-info {
        text-align: center !important
    }

    .contact-col {
        padding: 0 !important
    }

    /* #timeline-row {
        text-align: center;
        align-content: center
    } */
}