<nav class="navbar navbar-expand-sm navbar-dark fixed-top" id="navbar">
    <a class="navbar-brand name" href="/">VICTORIA LEAGUE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" {{#if notHome}}href="/#projects"{{else}}href="#projects"{{/if}}>Projects</a>
            <a class="nav-item nav-link" {{#if notHome}}href="/#skills"{{else}}href="#skills"{{/if}}>Tech/Skills</a>
            <a class="nav-item nav-link" {{#if notHome}}href="/#work"{{else}}href="#work"{{/if}}>Work History</a>
            <a class="nav-item nav-link" {{#if notHome}}href="/#contact"{{else}}href="#contact"{{/if}}>Contact</a>
        </div>
    </div>
</nav>